// 全局变量
$white ?= #ffffff
$black ?= #0f1838
$light-black ?= #575e7a
$gray ?= #999999
$light-gray ?= #b7bccf
$solid-gray ?= #b7bccf
$hover-gray ?= #e6f3fe
$placeholder ?= #b7bccf
$silver ?= #f5f8ff
$transparent ?= transparent

$theme = $blue
$theme-sub = $dark-blue
$theme-weak = $weak-blue
$blue ?= #0086f1
$dark-blue ?= #282754
$weak-blue ?= #b2ddff
$purple ?= #7721ec
$orange ?= #ff9000
$cyan ?= #28d6ed
